@{
    ViewData["Title"] = "Email Verification Required";
}
<div class="container" style="margin-top: 7rem;">
    <h2 class="mt-5">Email Verification Required</h2>

    <p>
        Thank you for registering! Please check your email for a verification link to activate your account.
        You will be able to access the home page once you have verified your email.
    </p>

    <p>
        If you did not receive the email, you can <a href="#">resend the verification email</a>.
    </p>

</div>
