@if (Context.User.Identity.IsAuthenticated)
{
    <nav class="navbar px-3 py-2 bg-white rounded shadow-sm">
        <i class="sidebar-toggle ri-menu-line me-3 d-block"></i>
        <h5 class="fw-bold mb-0 me-auto">@ViewData["Header"]</h5>
        <div class="dropdown">
            <div class="user d-flex align-items-center dropdown-toggle" id="navbar-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="navbar-profile-image me-2" src="~/images/profile-user.png" alt="Image">
                <div>
                    <span class="me-2 d-sm-block d-none user-name">@Context.User.Identity.Name</span>
                    <small class="text-muted user-type me-2 d-sm-block d-none"> Admin </small>
                </div>
            </div>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <form asp-controller="Auth" asp-action="LogOut" method="post" id="logoutForm">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </div>

    </nav>
}