@model it15_palit.Entity.User
@{
    ViewData["Title"] = "Log In";
}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row rounded shadow-lg bg-white p-4">
        <div class="text-center mb-3">
           <img src="~/images/logo.png" alt="Logo" width="60" height="50" class="mb-3" />
        </div>


        @if (TempData["Message"] != null)
        {
            <div class="toast align-items-center bg-blue border-0 position-fixed top-0 end-0" style="margin-top: 3rem;" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
                <div class="d-flex">
                    <div class="toast-body text-white">
                        @TempData["Message"]
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        }


        <form asp-area="Admin" asp-controller="Auth" asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="Username" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="password">
            </div>

            <button type="submit" class="btn btn-primary d-flex justify-content-center">Log In</button>
        </form>
    </div>
</div>

