@{
    ViewData["Title"] = "Success";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center">
    <h4>Order Successful!</h4>
        <i class="ri-checkbox-circle-line mb-3" style="font-size: 10rem; color: green;"></i>
        <p>Your order has been placed successfully. Thank you for your purchase!</p>
        <p>Go to <a asp-action="Orders" asp-controller="Account">Orders.</a> </p>
</div>
